<div class="container">
  <h1 class="title">Les restaurants !</h1>

  <ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <%= link_to restaurant_path(restaurant) do %>
        <%= restaurant.name %>
      <% end %>
    </li>
  <% end %>
  </ul>
  <br>
  <%= link_to "Create a restaurant", new_restaurant_path, class:"btn btn-primary"%>
</div>
